---
// You can import components from any supported Framework here!
/* ASTRO:COMPONENT_IMPORTS */

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'Bizurd'

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <link rel="stylesheet" href={Astro.resolve('../styles/global.css')} />
  </head>
  <body>
    <main
      class="h-screen w-full flex items-center justify-center bg-gradient-to-br from-purple-700 to-blue-500">
      <header class="text-center">
        <h1 class="font-extrabold text-8xl flex items-center">
          Bizurd <span class="ml-4 text-6xl animate-swing origin-bottom-right"
            >👋</span>
        </h1>
        <p class="font-extrabold text-2xl">
          <span>Absurd</span>
          <span>+</span>
          <span>Bizarre</span>
          <span>=</span>
          <span>Bizurd</span>
        </p>
      </header>
    </main>
  </body>
</html>
